* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 40px;
    background-color: rgb(245, 231, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: peachpuff;
    border-radius: 3%;
    height: 600px;
    width: 350px;
}

.screen {
    position: relative;
    bottom: 220px;
    background-color: rgb(209, 163, 123);
    border-radius: 3%;
    height: 100px;
    width: 320px;
}

.sum {
    font-size: 50px; 
    margin: auto;
    text-align: right;
    padding: 20px;
}

.button-container {
    display: grid;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 320px;
    height: 370px;
    grid-template-columns: repeat(4, 70px);
    grid-auto-rows: 70px; 
    /* grid-template-rows: minmax(70px, auto) repeat(5, 50px); 1fr */
    background-color: rgb(243, 207, 150);
    
}

.span-two {
    grid-column: span 2;
    background: rgb(226, 74, 74);
    font-size: 25px;
    border-radius: 10%;
    height: 4rem;
}

.button {
    cursor: pointer;
    font-size: 25px;
    outline: none;
    border-radius: 10%;
    height: 4rem;
   
}
